---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getPostExcerpt, sortReadingLogs } from '@lib/postUtils';
import BlogLink from '@components/shared/BlogLink.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths({ paginate }: any) {
    const readingLogs = await getCollection('readinglogs');

    const logs = sortReadingLogs(readingLogs);

    return paginate(logs, { pageSize: 10 });
}

const { page } = Astro.props;
---

<BaseLayout title="Blog - Keith Wagner">
    <main>
        <h1>Blog</h1>
        {
            page.data.map((log: any) => (
                <BlogLink
                    title={log.data.title}
                    link={`/reading-log/${log.data.id}`}
                    date={log.data.date}
                    tags={log.data.tags}
                    excerpt={getPostExcerpt(log.body)}
                />
            ))
        }
        <section class="pagination">
            {page.url.prev ? <a href={page.url.prev}>&leftarrow; Newer Reading Logs</a> : null}
            {page.url.next ? <a href={page.url.next}>Older Reading Logs &rightarrow;</a> : null}
        </section>
    </main>
</BaseLayout>
